@{
    ViewData["Title"] = "Главная";
}


<div>
    <p class="subheader">Практическая часть</p>
    <p>
        Создать приложение ASP.NET Core MVC по следующему заданию. Стилизацию приложения выполняйте при помощи фреймворка Bootstrap.
    </p>
    <p>
        Примените страницу компоновки. Не забывайте создать модель для решения задачи. По GET-запросу /Home/Index выводите этот текст. 
    </p>
    <p>
        Сведения о книгах в библиотеке содержат: идентификатор, фамилию и инициалы автора, название, год издания, количество экземпляров данной книги в библиотеке, цену одного экземпляра, имя файла с изображением обложки.
    </p>
    <p>
        Сведения о книгах хранятся в файле формата JSON в папке App_Data проекта. В коллекции при инициализации должно быть сведения не менее чем о 10 книгах.
    </p>
    <p>
        Требуется реализовать функционал:
    </p>
    <ul class="taskList">
        <li>Добавление книги в коллекцию (и в файл, данные формировать в коде, ввод при помощи формы не нужен)</li>
        <li>Удаление данных о книге из коллекции (и из файла, форма для ввода идентификатора не нужна)</li>
        <li>Выдача сведений о всех книгах, упорядоченных по фамилиям авторов</li>
        <li>Выдача сведений о всех книгах, упорядоченных по годам издания</li>
        <li>Выдача сведений о книгах с количеством, равным максимальному</li>
        <li>Выдача сведений о самых старых книгах</li>
        <li>Выдача сведений о самых новых книгах</li>
    </ul>
    <p class="subheader">Дополнительно</p>
    <p>
        Запись занятия можно скачать по <a class="link" target="_blank" href="https://cloud.mail.ru/public/QX9c/DBT8V9x7c">этой ссылке</a>.
        Материалы занятия в этом же архиве.
    </p>
</div>